h1
{
    color:purple;
    background-color:#e0eebb;
    text-align:center;

}
h2
{
    color:purple;
    background-color:#e0eebb;
    text-align:center;

}
label
{
    color:#aa5a67;
    background-color:#d9e8ec;
    font-size: 16px;
            font-weight: 600;
}
button
{
    background-color:#729e7f;
    padding:5px;
}
